@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* -- Navbar -- */ 

.menu {
    font-family: "Tangerine", cursive;
    font-weight: 700; 
    font-style: normal;
}

.brand-logo {
    font-size: 50px !important;
}

.nav-text {
    font-size: 40px !important;
}
